.login-container{
    height: 100vh;
    background-image: url(/img/RegisterPage.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.login-container #login-form{
    width: 30%;
    padding: 40px 10px;
    margin-top: 8em;
    margin-right: 6em;
}
.form-action{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.login-container #login-header{
    text-align: center;
    color: white;
    font-family: 'Righteous',serif;
    font-size: 5em;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}