.register-container{
    background-image: url(../img/loginpage.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.register-container #register-form{
    margin-right: 9em;
    margin-top: 6em;
}
.register-container #register-header{
    text-align: center;
    color: white;
    font-family: 'Righteous',serif;
    font-size: 5em;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
.form-action{
    align-items: center;
    display: flex;
    justify-content: space-between;
    color:  rgb(124, 6, 139);
}